<!DOCTYPE HTML>
<html>
<head>
   <title>Welcome to Chatroom</title>
</head>
<body>
    <h1> Chatroom</h1>
    <form action="/homepage" method="post" style="float:left;">
        <input type="submit" value="Back to homepage">
    </form>
    <form action="/update" method="post">
        <input type="submit" value="Update chat history">
    </form>
    <form action="/view_history" method="post">
        <label >View chat history, up to latest 999 messege</label>
        <input type="text" id="view_history" name="view_history" maxlength="3">
        <input type="submit" value="View chat history">
    </form><br>
    <!--/send_image and /send_file need to detect size-->
    <form action="/send_image" method="post" enctype="multipart/form-data">
        <label >Upload your image</label>
        <input type="file" name="image" value="send_image" id="send_image" accept="image/*">
        <input type="submit" value="Upload">
    </form>
    <form action="/send_file" method="post" enctype="multipart/form-data">
        <label >Upload your file  </label>
        <input type="file" name="file" value="send_file" id="send_file">
        <input type="submit" value="Upload">
    </form>
    <!------------------------------------------------------->
    <form action="/send_message" method="post" enctype="multipart/form-data">
        <label >Enter your message</label>
        <input type="text" id="message" name="message" maxlength="256">
        <input type="submit" value="Enter">
    </form>
    
</body>
</html>
